# Template for you to use develop your model
### Copy this template cells to load in the filtered dataset that will be used to do CountVectorizer and TfidfTransformer

## REFERENCE NAIVE BAYES MODEL OR SVM NOTEBOOK FOR HELP
### DON'T COPY AND PASTE, TRY TO UNDERSTAND WHAT'S GOING ON

#### Suggested steps for developing your model
1. Load in the filtered title data into a DF --> These cells below
2. Create a CountVectorizer and fit_transform it to the x_train dataset --> you will need to import the correct package
        a. Save the outputted value --> this is the vectorized matrix of our dataset
3. Repeat with the x_test dataset but use transform instead
        a. Save as well
4. Create a TfidfTransformer and fit_transform it to the vectorized training data from CountVectorizer
        a. Save the outputted values --> this is the normalized vectorized maxtrix of our dataset
5. Repeat (3) for TfidfTransformer
6. Now create and train your model
        a. THIS MAY DIFFER FROM HOW NAIVE BAYES AND SVM IS DONE --> DO YOUR RESEARCH
        b. In most cases this step will only be a couple of lines
7. Analyze the results
        a. sklearn's metrics is a good tool

In [1]:
# Import necessary packages

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [2]:
# Loads the filtered dataset and looks at the first 5 elements

df_titles_info = pd.read_csv('./output/US_count_vectorizer_dataset.csv')
df_titles_info.head()

,title,filter_title,filter_title_no_stops,category_id
0,WE WANT TO TALK ABOUT OUR MARRIAGE,we want to talk about our marriage,want talk marriage,People & Blogs
1,The Trump Presidency: Last Week Tonight with J...,the trump presidency last week tonight with jo...,trump presidency last week tonight john oliver...,Entertainment
2,"Racist Superman | Rudy Mancuso, King Bach & Le...",racist superman rudy mancuso king bach lele pons,racist superman rudy mancuso king bach lele pons,Comedy
3,Nickelback Lyrics: Real or Fake?,nickelback lyrics real or fake,nickelback lyrics real fake,Entertainment
4,I Dare You: GOING BALD!?,i dare you going bald,dare going bald,Entertainment

In [3]:
# Split dataset into inputs(df_x) and outputs(df_y)
df_x = df_titles_info['filter_title']
df_y = df_titles_info['category_id']

# Buckets that we want to map to
target_names = list(df_titles_info['category_id'].unique())

In [4]:
# Split the datset 80% training, 20% testing
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=117)